::-webkit-scrollbar {
  width: 5px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 100px;
}
.left{
  justify-content: flex-end;
}
.repos{
  height: 500px;
  overflow: scroll;
}
.App {
  min-height: 100vh;
}
.card {
  margin-top: 125px;
}
.img {
  margin-top: -80px;
}
.NavLink{
  cursor: pointer;
}
.text-sm{
  font-size: 12px;
}
.dark{
  background: #000;
}
a{
  text-decoration: none !important;
 font-size: 20px;
}