::-webkit-scrollbar {
  width: 5px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 100px;
}
.left{
  justify-content: flex-end;
}
.repos{
  height: 500px;
  overflow: scroll;
  font-family: sans-serif;
}
.App {
  min-height: 100vh;
}
.card {
  margin-top: 125px;
}
.img {
  margin-top: -80px;
}
.NavLink{
  cursor: pointer;
}
.text-sm{
  font-size: 12px;
}
.dark{
  background: #000;
}
a{
  text-decoration: none !important;
}
.a{
  font-size: 20px;
  color: #03045e;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: uppercase;
}
.visit{
  font-size: 18px;
  color: #03045e;
  font-weight: 600;
  font-family: monospace;
}
.cardbody{
  background: #343a40;
  color: white;
}
.form{
  background: #212529;
  color: white;
  border-radius: 10px;
  font-family: sans-serif;
}
.name{
  color: #03045e;
  font-family: sans-serif;
}
.content{
  color: #023e8a;
  font-family: sans-serif;
}
span{
  font-size: 17px;
  color: #03045e;
  font-weight: 600;
  font-family: sans-serif;
}